{
	"dimensions": [
		"1200x1800",
		"460x920",
		"460x880"
	],
	"locations": {
		"1200x1800": { "top": -160, "left": 0 },
		"460x920": { "top": 0, "left": -880 },
		"460x880": { "top": 0, "left": 0 }
	}
}
